@font-face {
  font-family: 'SpaceRanger';
  src: url('../asset/space-ranger-font/SpaceRangerLaserItalic-J7an.otf')
    format('opentype');
}

@font-face {
  font-family: 'Halftone';
  src: url('../asset/space-ranger-font/SpaceRanger-EMJl.otf') format('opentype');
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans,
    Helvetica Neue, sans-serif;
}

.title {
  width: 18.5rem;
  margin: 1rem auto 0;
  color: white;
  text-align: center;
  font-size: xx-large;
  font-family: SpaceRanger, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans,
    Droid Sans, Helvetica Neue, sans-serif;
  border-radius: 8px;
  box-shadow: inset 0px 0px 6px 0px white;
  background-color: #001e2e;
}

::-webkit-scrollbar {
  width: 0.5rem;
  height: 0.5rem;
}

::-webkit-scrollbar-thumb {
  border-radius: 1rem;
  background-color: darkgrey;
}

a {
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
