@font-face {
  font-family: 'SpaceRanger';
  src: url('../asset/space-ranger-font/SpaceRangerLaserItalic-J7an.otf');
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans,
    Helvetica Neue, sans-serif;
}

header {
  font-family: SpaceRanger, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans,
    Helvetica Neue, sans-serif;
}

::-webkit-scrollbar {
  width: 0.5rem;
  height: 0.5rem;
}

::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  border-radius: 1rem;
}

header {
  text-align: center;
  font-size: 2.5em;
  font-family: 'SpaceRanger';
}

a {
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
